@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", var(--font-body), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 215 95% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 96% 54%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 95%;
    --muted-foreground: 240 1% 40%;
    --accent: 214 47% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 89.8%;
    --ring: 215 95% 34%;
    --chart-1: 215 95% 34%;
    --chart-2: 24 96% 54%;
    --chart-3: 214 47% 56%;
    --chart-4: 24 91% 61%;
    --chart-5: 215 50% 67%;
    --radius: 0rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 215 95% 34%;
    --sidebar-primary: 215 95% 34%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 214 47% 56%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 215 95% 34%;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 95%;
    --card: 0 0% 5%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 95%;
    --primary: 215 95% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 96% 54%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --accent: 214 47% 56%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 215 95% 34%;
    --ring: 215 95% 34%;
    --chart-1: 215 95% 34%;
    --chart-2: 24 96% 54%;
    --chart-3: 214 47% 56%;
    --chart-4: 24 91% 61%;
    --chart-5: 215 50% 67%;
    --sidebar-background: 0 0% 5%;
    --sidebar-foreground: 0 0% 95%;
    --sidebar-primary: 215 95% 34%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 214 47% 56%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 20%;
    --sidebar-ring: 215 95% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
